<html lang="en">  
    <head>  
        <title>Employee Form</title>  
    </head>  
    <body>  
        <form action="saveemployee" method="post">  
            <table>  
                <tr>  
                    <td><label for="Employee Name">Employee Name</label></td>  
                    <td><input type="text" name="name"></input></td>  
                </tr>  
                <tr>  
                    <td><label for="EmployeeID">Employee ID</label></td>  
                    <td><input type="text" name="eid"></input></td>  
                </tr>
                <tr>  
                    <td><label for="OrgName">Org Name</label></td>  
                    <td><input type="text" name="orgName"></input></td>  
                </tr>
                <tr>  
                    <td><label for="dept">Department</label></td>  
                    <td><input type="text" name="dept"></input></td>  
                </tr>
                <tr>  
                    <td><label for="address1">Address1</label></td>  
                    <td><input type="text" name="add1"></input></td>  
                </tr>
                <tr>  
                    <td><label for="address2">Address22</label></td>  
                    <td><input type="text" name="add2"></input></td>  
                </tr>
                <tr>  
                    <td><label for="Landmark">Landmark</label></td>  
                    <td><input type="text" name="landmark"></input></td>  
                </tr>  
                <tr>  
                    <td></td>  
                    <td><input type="submit" value="Submit"></input></td>  
                </tr>  
            </table>  
        </form>  
    </body>  
</html>