<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Edit User</title>
</head>
<body>
	<div align="center">
		<h1>Edit User</h1>
		<br/>
		<form action="#" th:action="@{/update/{id}(id=${user.uid})}" th:object="${user}" method="post">
			<input type="text" th:field="*{uid}" readonly="readonly" /><br></br>
			<input type="text" th:field="*{usname}" id="usname" /><br></br>
			<input type="text" th:field="*{loginname}" id="loginname" /><br></br>
			<input type="text" th:field="*{password}" id="password" /><br></br>
			<input type="text" th:field="*{type}" id="type" /><br></br>
			<input type="text" th:field="*{phoneno}" id="phoneno" /><br></br>
			<input type="text" th:field="*{email}" id="email" /><br></br>
		    <button type="submit">Update user</button>  
		</form>
	</div>
</body>
</html>